* {
    margin: 0;
    padding: 0;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.rad-grad {
    background-image: radial-gradient(white 5%, aqua 70%);
}

#top {
    position: relative;
    background-color: aqua;
    height: 720px;
}

.intro-grid-container {
    display: grid;
    grid-template-rows: 120px 240px 360px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
}

.igc-card-1 {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

.igc-card-2 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    padding: 0 30px 20px 0;
}

.intro-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ifc-card-1 {
}

.ifc-card-2 {
}

.rockstar-flex-container {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;

}

.rfc-card-1 {

}

.heading {
    font-family: 'engravers mt', 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}

.rockstar {
    height: 200px;
    animation: jump 3s infinite;
}

.jump {
    animation-name: jump;
    animation-timing-function: ease-in-out;
}

@keyframes jump {
    0% {transform: translateY(0);}
    30% {transform: translateY(-100px);}
    60% {transform: translateY(0);}
    100% {transform: translateY(0);}
}

#profile-pic {
    height: 300px;
}

#profile-pic:hover {
    filter: drop-shadow(0px 0px 25px aqua);
}

.contact-flex-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 30px;
}

.icon:hover {
    filter: invert(.5)
            sepia(1)
            saturate(23)
            hue-rotate(145deg)
            brightness(1)
            drop-shadow(0px 0px 25px aqua);
}

@media (max-width: 780px) {
    .intro-flex-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }    
}

@media (max-width: 600px){
    .igc-card-2 {
        grid-column: 1 / 4;
    }

    .rockstar-flex-container {
        justify-content: center;
        align-items: center;
    }

    .heading{
        font-size: 18pt;
    }

    .subheading {
        font-size: 14pt;
    }

    .rockstar {
        animation: none;
    }

    .igc-card-2 {
        padding: 0;
    }

    #guitar-outline {
        height: 150px;
        margin-bottom: 10px;
    }
}